/* src/pages/AboutPage/AboutPage.css */
.about-page {
    width: 100%;
    margin: 0 auto;
    padding-top: 80px;
  }
  
  .about-page h1 {
    text-align: justify;

  }
  
  .description {
    font-size: 1.2rem;
    line-height: 1.6;
    margin: 30px;
    text-align: justify;
    color: #333;
  }
  